* { margin: 0; padding: 0; outline: 0; }
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@font-face{
	font-family:'calib';
	src:url(../../fonts/calibri.ttf);
	font-size:normal;
	font-style:normal;
	
}

body, html { height: 100%; }

body {
    font-size: 12px;
    line-height: 22px;
    font-family: verdana, arial, sans-serif;
    color: #727272;
    background: url(images/body-pattern.png) repeat 0 0;
    min-width: 100%;
}

/*font-family: 'Raleway', sans-serif;*/

a { color: #00acef; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

article, aside, details, footer, header, menu, nav, section { display: block; }
input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { width: 981px; margin: 0 auto; }
.container { background:#FFF; /*url(images/container.png) repeat-y center 0;*/ box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05); -moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05); -webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05); -o-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.05);  }


#header {margin-top:3px; margin-bottom: 15px;  position: relative; padding-top: 25px;  height: 130px; background: url(images/border-title.png) repeat-x 0 bottom; }
#break {
	background: url(images/border-title.png) repeat-x;
	height:2px;
	weight:100%;
	
}
#logo { width: 400px; font-size: 0; line-height: 0; position:absolute; top: 30px; left: 0px; }
#logo a { height: 100px; display: block; background: url(images/logo.jpg) no-repeat 0 0; text-indent: -4000px; }

#logoGTL { width: 140px; font-size: 0; line-height: 0; position:absolute; top: 20px; left: 660px; }
#logoGTL a { height: 92px; display: block; background: url(images/logo2.png) no-repeat 0 0; text-indent: -4000px; }

#logoSP { width: 150px; font-size: 0; line-height: 0; position:absolute; top: 30px; left: 810px; }
#logoSP a { height: 90px; display: block; background: url(images/logo3.png) no-repeat 0 0; text-indent: -4000px; }

.search { width: 210px; margin-left: auto; padding-right: 59px;margin-top:90px; }
.search input.field { float:left; width: 166px; padding:0 8px; height: 24px; line-height: 24px;  border: 1px solid #d3d3d3; font-size: 11px; color:#bebebe; background: #ededed; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; }
.search input.search-btn { float:left;  font-size: 0; line-height: 0; text-indent: -4000px; cursor: pointer; width: 20px; height: 26px; border: 0; background: url(images/search-ico.png) no-repeat 0 0; }

#navigation { position:relative;padding:0 21px;  margin-bottom: 15px; margin-top:110;}
#navigation ul { list-style:none; list-style-position: outside; }
#navigation ul li { padding: 0 10px; float: left; font-family:'calib',calibri;letter-spacing:1px; font-size: 15px; font-weight: 500; }
#navigation ul li:first-child { padding-left: 55px; }
#navigation ul li a { color: #4a4a4a; padding: 0 12px; display:block; height: 21px; line-height: 21px; border: 2px solid transparent; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -o-border-radius: 3px; }
#navigation ul li.active a,
#navigation ul li a:hover { border: 2px solid #97ca01;  background: url(images/nav-btn1.png) repeat-x 0 0; color:#fff; text-decoration: none; }
#navigation a.nav-btn { display:none; }


.main { padding:0 20px; 

}
.main .float {
    width: 50%;
    float: right;
    padding-top: 15px;
    border-top: 1px solid rgba(255,255,255,1);
}
.main .float:first-of-type {
    padding-right: 5px;
}

.main .float:last-of-type {
    padding-left: 5px;
}

.main label {
    display: block;
    padding: 0 0 2px 0px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    font-size: 12px;
}

.main label i {
    margin-right: 5px; /* Gap between icon and text */
    display: inline-block;
    width: 10px;
}

.main input[type=text],
.main input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display:block;
    width: 50%;
	height:50%;
    padding: 5px;
	margin-left:10px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.main textarea[name=message]
{
	width:70%;
	resize:none;
	
	display:block;
	padding: 5px;
	margin-left:10px;
    margin-bottom: 5px;
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.main input[type=submit]{
    /* Size and position */
    width: 17%;
    height: 35px;
	
    float:left;
	margin-left:10px;
    position:inherit;
	background: url(images/blue-btn.png) repeat 0 0;
	border:solid 1px #97ca01;
	border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px;
	color:#fff;
    /* Styles */
    cursor: pointer;

    /* Font styles */
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    
}
.main input[type=submit]:hover { background-position:0 bottom; }

.main input[type=text]:hover,
.main textarea[name=message]:hover,
.main input[type=password]:hover {
    border-color: #CCC;
}

.main label:hover ~ input {
    border-color: #CCC;
}

.main input[type=text]:focus,
.main input[type=password]:focus {
    border-color: #BBB;
    outline: none; /* Remove Chrome's outline */
}

.featured { background: #f1f1f1; border: 1px solid #e5e5e5; padding: 10px 213px 10px 18px; margin-bottom: 42px;  position: relative; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; }
.featured h4 { font-family: 'calib',Calibri,'Raleway', sans-serif;  line-height: 43px; font-size: 17px; color:#4a4a4a; font-weight:400; }
.featured h4 strong { color:#00acef; font-weight:normal; }
.featured a.blue-btn { background: url(images/blue-btn.png) repeat 0 0; width: 189px; height: 39px; text-shadow: rgba(0,0,0,0.5) 0px 1px 0px;  position: absolute; top: 50%; margin-top: -20px;  right: 9px; display: block; font-size: 16px; font-weight: 500; color:#fff; text-align: center; line-height: 39px;  border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -o-border-radius: 6px; text-decoration: none; font-weight: 500; font-family: 'Raleway', sans-serif; text-shadow: rgba(0,0,0,0.5) 0px 1px 1px;
}
.featured a.blue-btn:hover { background-position:0 bottom; }
#footer { background: url(images/footer-border.png) repeat-x 0 0; padding: 18px 20px 18px 10px; }
.footer-nav { margin-left:25%; }
.footer-nav ul { list-style:none; list-style-position: outside; }
.footer-nav ul li { float: left; border-right: 1px solid #afaca9;  padding:0 10px; font-size: 10px; line-height: 10px; }
.footer-nav ul li a { color: #afaca9; }
.footer-nav ul li a:hover { color: #878684; text-decoration: none; }
.footer-nav ul li.last { border-right: 0; }

.footer-nav1 { margin-left:38%; }
.footer-nav1 ul { list-style:none; list-style-position: outside; }
.footer-nav1 ul li { float: left; border-right: 1px solid #afaca9;  padding:0 10px; font-size: 10px; line-height: 10px; }
.footer-nav1 ul li a { color: #afaca9; }
.footer-nav1 ul li a:hover { color: #878684; text-decoration: none; }
.footer-nav1 ul li.last { border-right: 0; }

#footer p.copy { font-size: 10px; color:#afaca9; line-height: 10px; float: left; margin-left:26%; }
#footer p.copy a { font-size: 10px; color:#00acef;  line-height: 10px; text-decoration: underline; }
#footer p.copy a:hover { text-decoration: none; }
#footer p.copy span { padding:0 7px; }

/* ipad portrait */
@media only screen and ( min-width: 768px) and ( max-width: 981px ) {
	body { width: auto; }
	.shell { width: auto; width: 768px; }

	.container { background-image:url(images/container-tablet.png); }
	.slider { width: 725px; height: 366px; background-image:url(images/slider-tablet.png); }
	.slider ul li { width: 724px; }
	.slider img { width: 316px; height: 286px; margin-left: 0; margin-right: 20px;  }
	.slider h3 { font-size:16px; }
	.slider h2 { font-size: 47px; line-height: 54px; } 
	.slider .slide-cnt { width: 380px; height: 190px; }

	#thumbs-wrapper { width: 356px; }
	#thumbs a { width: 75px; height: 56px; }
	#thumbs a.selected { width: 75px; height: 65px; }
	#thumbs a.selected img { width: 75px; height: 65px; }
	#thumbs a img { width: 75px; height: 56px; }

	.featured h4  { font-size: 16px; line-height: 28px; }

	.main .cols .col { width: 222px; padding-right: 30px; }
	.main .cols .col img.left { float: none; display: block; margin:0 auto 12px; }

	.main .entries { background-image:url(images/entries-tablet.png);  }
	.main .entries .entry { width: 225px; padding-right: 24px;  }
	.main .entries .entry img { width: 100%; }
	.main .entries .entry .cnt {  height:100%; overflow: hidden; }

	.footer-nav { float:none; display: block; padding-bottom: 12px; }
	#footer p.copy { float: none; display:block; padding-left: 10px;  }
}

/* mobile*/
@media only screen and ( max-width: 640px) { 
	body { width: auto; }

	.search { display:none; }
	#logo { position:relative; margin:0 auto; top: 0px; left:0;  }
	
	#header { background: transparent; margin-bottom:0; }

	#navigation { position:relative; z-index: 100; padding:0 0px; margin:0 10px;  }
	#navigation a.nav-btn {  margin-bottom: 15px; text-decoration: none; padding:0 36px 0 10px; line-height:30px;  display:block; background: url(images/navigation.png) repeat-x 0 0; height: 30px; position: relative; }
	#navigation a.nav-btn span { background: url(images/dd-nav-arrs.png) no-repeat 0 bottom; width: 20px; height: 15px;  position:absolute; top: 8px; right: 12px; }
	#navigation a.nav-btn.active span { background-position:0 0; }

	#navigation ul { display:none;  position: absolute; top: 30px; left: 0; width: 100%; }	
	#navigation ul li { float:none; height: 30px; border-top: 1px solid #fff; display:block; padding:0 0 0 0; background: url(images/navigation.png) repeat-x 0 0; }
	#navigation ul li a { border: 0; line-height:30px;  float:none; height: 30px; display: block; font-size: 14px; padding-left: 20px; padding-right: 20px; width:100%; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; -o-border-radius: 0px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }	
	#navigation ul li a:hover { background-image:url(images/blue-btn.png); border:0;  }
	#navigation ul li.active span { background: transparent; border:0; }
	#navigation ul li.first { display:none; }

	.shell { width: 320px; }
	.container { background-image: url(images/container-mobile.png); width: 320px; }
	.main { padding:0 10px; }
	.slider ul li { width: 724px; }
	.slider img { width: 316px; height: 286px; float:none; display:block;  margin: 0 auto; }
	.slider h3 { font-size:16px; }
	.slider h2 { font-size: 47px; line-height: 54px; } 
	.slider .slide-cnt { width: 380px; height: 190px; float:none; display:block; }

	#thumbs-wrapper { display: none; }

	.slider-holder { width: 320px; margin:0 auto; }
	.slider { background-image:url(images/slider-mobile.png); padding:0 10px; width:300px;  margin:0 auto;   height: 388px;}
	.slider .slide-cnt { width: 300px;  float:none; display:block; padding-top: 12px; }
	.slider h4 { display:none; }
	.slider h2 { font-size: 38px; text-align: center; }
	.slider p { color:#cee7f1; }
	.slider ul li { width: 300px; }
	.slider .socials { display:none; }
	.slider img { float:none; display:block; margin:0 auto; width: 194px; height: 178px; }

	.slider .arrs a { position:absolute; top: 250px; z-index: 30; background: url(images/slider-arr.png) no-repeat 0 0; width: 26px; height: 37px; }
	.slider .arrs a.prev-arr { left: 10px; background-position:0 0; }
	.slider .arrs a.next-arr { right: 10px; background-position: right 0; }

	.main .cols .col { padding-bottom: 20px; float:none; display:block;padding-right:0; width: auto;  } 
	.main .cols .col img.left { float:none; display:block; margin: 0 auto;  }
 	.main .entries { margin:0 -10px;  }
	.main .entries .entry { width: auto; padding-right:0; float:none; display:block; margin-bottom:14px;  }
	
	.featured h4 { line-height: 26px; padding-bottom: 6px; }
	.featured a.blue-btn { float: none; display:block; right:0; left:0;  position:relative; margin: 0 auto; top:0;  width: 260px; }
	.featured { padding: 10px; }
	
	#footer { padding-left: 0; padding-right:0;  }
	.footer-nav { float:none; display:block; height: 12px; margin:auto; width: 310px; vpadding-bottom: 8px; text-transform: uppercase; }
	.footer-nav ul li { font-size: 8px; border-right:0; padding:0 2px; }
	#footer p.copy { font-size: 8px; text-align:center; float:none; display:block; }
}


@media only screen and ( max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) { 
	#navigation a.nav-btn { background-image:url(images/navigation@2x.png); -webkit-background-size: 2px 30px; -moz-background-size: 2px 30px; background-size: 2px 30px;   }
	#navigation a.nav-btn span { background-image:url(images/dd-nav-arrs@2x.png); -webkit-background-size: 20px 29px; -moz-background-size: 20px 29px; background-size: 20px 29px;  }
	.slider { background-image:url(images/slider-mobile@2x.png);  -webkit-background-size: 320px 388px; -moz-background-size: 320px 388px; background-size: 320px 388px;  }
	.slider .arrs a { background-image:url(images/slider-arr@2x.png); -webkit-background-size: 53px 37px; -moz-background-size: 53px 37px; background-size: 53px 37px; }
	#logo a { background-image:url(images/logo@2x.png); -webkit-background-size: 125px 26px; -moz-background-size: 125px 26px; background-size: 125px 26px;  }
}